.body {
  width: 100%;
  min-width: 600px;
  height: 100vh;
  background-color: #fafafa;
}

.nav {
  background-color: #e5f3fd;
}

.title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  min-height: 100px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.title{
  font-weight: bold;
  font-size: 25px;
}

.text-field {
  width: 100%;
}
